:root {
    --gr0ki-tm: rgba(152, 131, 106, 1);
    --gr0ki-color:#706e66;
    --gr0ki-color2:rgb(40, 40, 40);

}

html {
    width: 100%;
}

body {
    overflow-x:hidden;
    display: relative;
    padding:0; margin:0;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid var(--gr0ki-color2); border-left: 1px solid var(--gr0ki-color2); border-radius: 25px;
    width:fit-content;
    padding:10px;

    color:var(--gr0ki-color2);
}

/* Nav */
.navbar {
    position:-webkit-sticky;
    position: sticky; top: 0;

    display: flex; align-items: center;
    transition-duration: 0.69s;

    font-family:Arial, Helvetica, sans-serif;
}

.scrolled {
    color:white; background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56));
    transition-duration: 0.69s;
}

.dev-logo {
    width:5vh; border-radius: 50%; padding:10px;
}

.nav-menu {
    display: flex; justify-content: right; align-items: center;
}

    /* Nav bar UL */
.navbar ul {
    display: flex; align-items: center; justify-content: right;
    width: 100%; padding-right: 10px;
}

.navbar ul li {
    padding: 10px; border-radius: 128px;
    display: inline-block; transition-duration: 0.69s;
}

.navbar ul li:hover {
    color: white; background-color:black;
}

.navbar ul li:hover a {
    color:white;
}

.navbar a, .navbar a:visited {
    color:white;
    text-decoration: none;
}

.navbar .highlighted, .navbar .highlighted a:visited {
    background-color:darkgray; color:var(--gr0ki-color2);
}

.navbar .highlighted:hover a {
    color:white;
}

.nav-logo {
    display: flex;
    align-items: center; justify-content: start;
}

.nav-menu {
    display: flex;
    align-items: center; justify-content: end;
    width:100%;
}

/* Header */

#Header {
    position:relative;
    display:grid;
    width:100%;
    /* background-color: #706e66; */
    background-image: linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2));

    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dev-bio {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
    padding-right:10px;

    text-align:left;
}

.dev-personal {
    display: flex;
    align-items: center; justify-content: end;
    flex-direction: column;
}

#dev-portrait {
    height:90%; width:max-content;
}

.dev-details {
    display: flex;
    align-items: center; justify-content: center;
}

.dev-stack img {
    width:5vh;
}

.dev-contacts, .dev-contacts a, .dev-contacts a:visited {
    font-size: clamp(50px, 2vw, 2vw); color:white;
}

.dev-contacts a:hover {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/* Projects */
#Projects {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;

    padding: 10px;
    background-color: var(--gr0ki-color);
}

.project-container, .skills-container {
    margin: 1px; padding:10px;
    width: 100%;
}

.skills-container {
    display: flex;
    align-items: center;
}

.project-card {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px 25px 25px;
    padding:10px;margin:10px;

    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.project-card:hover {
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.5);
}

.project-title {
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */
footer {
    display: flex;
    align-items: center; justify-content: center;

    color:white; background-image: linear-gradient(to right, rgb(56, 56, 56), rgb(56, 56, 56));
    font-family: Arial, Helvetica, sans-serif;
}