:root {
    --gr0ki-tm: rgba(152, 131, 106, 1);
    --gr0ki-color:#706e66;
    --gr0ki-color2:rgb(40, 40, 40);

}

html {
    width: 100%;
    overflow-x: hidden;

    scroll-behavior: smooth;

    color:lightgray;
}

body {
    display: relative;
    padding:0; margin:0;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid var(--gr0ki-color2); border-left: 1px solid var(--gr0ki-color2); border-radius: 25px;
    width:fit-content;
    padding:10px;

    color:var(--gr0ki-color2);
}

/* Nav */
.navbar {
    position:-webkit-sticky;
    position: sticky; top: 0;

    display: flex; align-items: center;
    transition-duration: 0.69s;
    z-index: 1;

    font-family:Arial, Helvetica, sans-serif;
}

.scrolled {
    color:white;
    background-image: -moz-linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56)); /* FF 3.6+ */  
    background-image: -ms-linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56)); /* IE10 */  
    background-image: -webkit-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56)); /* Safari 4+, Chrome 2+ */  
    background-image: -webkit-linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56)); /* Safari 5.1+, Chrome 10+ */  
    background-image: -o-linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56)); /* Opera 11.10 */  
    background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(56, 56, 56));
    transition-duration: 0.69s;
}

.dev-logo {
    width:5vh; border-radius: 50%; padding:10px;
}

.nav-menu {
    display: flex; justify-content: right; align-items: center;
}

    /* Nav bar UL */
:where(.navbar) ul {
    display: flex; align-items: center; justify-content: right;
    width: 100%; padding-right: 10px;
}

:where(.navbar) ul li {
    padding: 10px; border-radius: 128px;
    display: inline-block; transition-duration: 0.69s;
}

:where(.navbar) ul li:hover {
    color: white; background-color:black;
}

:where(.navbar) ul li:hover a {
    color:white;
}

.navbar a, .navbar a:visited {
    color:white;
    text-decoration: none;
}

:where(.navbar, .highlighted) .highlighted, a:visited {
    background-color:darkgray; color:var(--gr0ki-color2);
}

:where(.navbar) .highlighted:hover a {
    color:white;
}

.nav-logo {
    display: flex;
    align-items: center; justify-content: start;
}

.nav-menu {
    display: flex;
    align-items: center; justify-content: end;
    width:100%;
}

/* Header */

#Header {
    position:relative;
    display:grid;
    width:100%;
    /* background-color: #706e66; */
    background-image: -moz-linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2)); /* FF 3.6+ */  
    background-image: -ms-linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2)); /* IE10 */  
    background-image: -webkit-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2)); /* Safari 4+, Chrome 2+ */  
    background-image: -webkit-linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2)); /* Safari 5.1+, Chrome 10+ */  
    background-image: -o-linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2)); /* Opera 11.10 */  
    background-image: linear-gradient(125deg, var(--gr0ki-color), var(--gr0ki-color), var(--gr0ki-color2));

    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dev-bio {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: balance;
    padding-right:10px;

    text-align:left;
}

.dev-personal {
    display: flex;
    align-items: center; justify-content: end;
    flex-direction: column;
}

#dev-portrait {
    height:90%; width:max-content;
}

.dev-details {
    display: flex;
    align-items: center; justify-content: center;
}

.dev-contacts, .dev-contacts a, .dev-contacts a:visited {
    font-size: clamp(50px, 2vw, 2vw); color:white;
}

.dev-contacts a:hover {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/* About */
#About {
    background-color: var(--gr0ki-color);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

:where(.skills-container) .container-header {
    padding:10px;
}

:where(.skills-container .container-header) p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.dev-stack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

:where(.dev-stack) img {
    width:10vh;
    filter: grayscale();

    transition-duration: 0.69s;
}

:where(.dev-stack) img:hover {
    filter: none;
    filter: drop-shadow(0px 0px 16px white);
}

#logo-html {
    grid-column: 1;
    grid-row: 2;
}

#logo-css {
    grid-column: 2;
    grid-row: 1;
}

#logo-js {
    grid-column: 4;
    grid-row: 1;
}

#logo-bs {
    grid-column: 5;
    grid-row: 2;
}

#logo-jquery {
    grid-column: 3;
    grid-row: 2;
}

#logo-php {
    grid-column: 2;
    grid-row: 3;
}
#logo-mysql {
    grid-column: 4;
    grid-row: 3;
}

/* Projects */
#Projects {
    background-color: var(--gr0ki-color);
    width: 100vw;
}
.wrapper {
    filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));
    position: relative;
    z-index: 10;
}

:where(.project-container) .container-header {
    background-color: gray;
    padding: 1px 50px 1px 10px;
    margin:0px;
    width: clamp(232px, 25vw, 25vw);    
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}

:where(.project-container) .container-content {
    background-color:gray;
    padding:0px; margin:0px;

    display: flex; flex-flow: column wrap;
    flex-grow: 1;
    justify-content: end;
    width:100%;
    filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));
}

:where(.project-container .container-content) .project {
    border: 4px dashed rgb(113, 113, 113);
    border-top: none;
    border-radius: 50px 0px 50px 50px;
    padding:10px;margin:10px;
    width:45vw;
}

:where(.project-container .container-content .project) .project-card {
    padding-right: 10px; margin-right:10px;
    color: var(--gr0ki-color2);
}

@media only screen and (max-width:767px) {
    :where(.project-container .container-content) .project {
        width:87dvw;
    }

    :where(.project-container .container-content) .project-card {
        width: 90%; 
    }
}

.project-card {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px 25px 25px;
    padding:10px;margin:10px;

    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.project-card:hover {
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.5);
}

.project-title {
    font-family: Arial, Helvetica, sans-serif;
}

:where(.project-card) a {
    color: var(--gr0ki-color2);
}

/* Footer */
footer {
    display: flex;
    align-items: center; justify-content: center;

    color:white; background-image: linear-gradient(to right, rgb(56, 56, 56), rgb(56, 56, 56));
    font-family: Arial, Helvetica, sans-serif;
}