/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');

/* Initialize Variables */
:root {
    --groki-color-major: #FAF1CB;
    --groki-color-main: #706E66;
    --groki-color-sub: #A4A299;
    --groki-color-cta: #00C9AC;

    --groki-color-main-alpha: #706E6699;

    --padding-default: 10px; --padding-thin: 5px; --padding-wide: 50px;
    --margin-default: 10px; --margin-thin: 5px; --margin-wide: 50px;
}

/* Global Changes */
html {
    font-family: 'Roboto Condensed', sans-serif;

    color: var(--groki-color-major); background-color: var(--groki-color-main);
    
    padding: 0; margin: 0;

    scroll-behavior: smooth;
}

body {
    margin: 0; padding: 0;
    /* width: 100%; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

/* Localized Changes */
    /* Navbar */
#Navbar {
    /* background-color: var(--groki-color-main); */
    margin: 0; padding: var(--padding-thin) 0px;

    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;

    position: relative;
    z-index: 1;

    transition-duration: 0.69s;

    /* Adjust margin-top to offsetHeight in JavaScript */
}

.site-logo {
    margin: 0px var(--margin-default);
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.site-logo img {
    height: 5vh;

    border-radius: 50%;
}

.nav-menu {
    -ms-grid-column-align: end;
    justify-self: end;

    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px var(--margin-default);
}

:where(.nav-menu) .mobile {
    /* display: none; */
}

:where(.nav-menu) .desktop {
    display: none;
}

    /* Header */
#Header {
    height:100dvh;

    background-image: -o-linear-gradient(325deg, var(--groki-color-main), var(--groki-color-main), var(--groki-color-sub));
    background-image: linear-gradient(125deg, var(--groki-color-main), var(--groki-color-main), var(--groki-color-sub));

    position: relative;
}

.dev-portrait {
}

.dev-portrait img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; height:100vh;
}

.dev-summary {
    background-color: var(--groki-color-main-alpha);
    padding: var(--padding-default);

    position: absolute;
    right: 0; bottom: 0;

    /* Adjust bottom styling dynamically in Javascript based on the offsetHeight of #Navbar */
}

.dev-contacts {
    background-color: var(--groki-color-cta);
    border-radius: 25px;
    padding: var(--padding-default);

    display: grid;
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;
}

.dev-contacts a {
    color: var(--groki-color-major);

    font-size: 3rem;
}

    /* About */
#About {
    background-color: var(--groki-color-major); color: var(--groki-color-main);
    padding: var(--padding-wide) var(--padding-default); margin: 0;

    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;
}

.dev-stack {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;

    -ms-grid-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.dev-stack img {
    width: 100%;
    -webkit-filter: grayscale();
    filter: grayscale();
}

.dev-stack img:hover {
    -webkit-filter: drop-shadow(0px 0px 8px var(--groki-color-cta));
    filter: drop-shadow(0px 0px 8px var(--groki-color-cta));
}

.dev-stack img:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}
.dev-stack img:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}
.dev-stack img:nth-child(3) {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
}
.dev-stack img:nth-child(4) {
    -ms-grid-column: 5;
    grid-column: 5;
    -ms-grid-row: 2;
    grid-row: 2;
}
.dev-stack img:nth-child(5) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}
.dev-stack img:nth-child(6) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
}
.dev-stack img:nth-child(7) {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 3;
    grid-row: 3;
}

    /* Project */
#Projects {
    color: var(--groki-color-main);
    background-color: var(--groki-color-major);
    padding: var(--padding-wide) 0px; margin: 0;

    position: relative;
}

.project-header {
    /* background-color: var(--groki-color-cta); */
    -webkit-filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));
    filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));
    position: relative;
    z-index: 1;
}

.project-header h1 {
    background-color: var(--groki-color-major);
    padding: var(--padding-thin) var(--padding-wide) var(--padding-thin) var(--padding-default);
    margin: 0;
    width: 25vw;

    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}

    /* Project Container */

.project-container {
    background-color:var(--groki-color-major);
    -webkit-filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));
    filter: drop-shadow(0px -16px 8px rgba(0,0,0,0.1));

    padding: var(--padding-default);
}

.project-card {

}

.card-header {
    display: -ms-grid;
    display: grid;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;

    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;

    margin: 0;
}

.card-header span {
    font-size: 5rem;

    -ms-grid-column-align: start;
    justify-self: start;

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.card-header .project-info {
    -ms-grid-column-align: start;
    justify-self: start;
    margin-left: var(--margin-default)
}

.card-header .project-info h1 {
    padding: 0; margin: 0;
}

.project-class {
    color: var(--groki-color-sub);
    padding: 0; margin: 0;
}

.card-content {
    margin: var(--margin-default);

    display: -ms-grid;
    display: grid;
    -ms-grid-rows: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;
}

.project-thumbnail {
    width: 100%; height: 168px;
}

.project-thumbnail:is([data-roki-project="Kanban"]) {
    background-image: url("assets/images/project thumbnails/Kanban.png");
    background-repeat: no-repeat; background-size: 100%;
    background-clip: content-box;
    background-position-x: center;

    /* width: 100%; height: 168px; */
}

.project-thumbnail:is([data-roki-project="TENSAI"]) {
    background-image: url("assets/images/project thumbnails/TENSAI.png");
    background-repeat: no-repeat; background-size: 100%;
    background-clip: content-box;
    background-position-x: center;

    /* width: 100%; height: 168px; */
}

.button {
    color: var(--groki-color-major); background-color: var(--groki-color-cta);
    padding: var(--padding-default); margin: var(--margin-thin);

    text-decoration: none;
}

    /* Footer */
footer {
    padding: var(--padding-wide) var(--padding-default); margin: 0;

    display: -ms-grid;
    display: grid;
    -ms-grid-rows: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

    /* Footer Navbar */

.navbar-footer {
    
}

.navbar-footer ul {
    font-size: 1.5rem;
    
    list-style-type: none;
    padding: 0; margin: 0;
}

.navbar-footer ul a {
    text-decoration: none;
    color: var(--groki-color-major);

    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;
}

.navbar-footer ul a:hover li {
    background-color: var(--groki-color-cta); color: var(--groki-color-major);
}

.navbar-footer ul li {
    padding: var(--padding-default); margin: var(--margin-thin);
    width:100%;

    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; justify-items: center;
}

    /* Footer Contact */
.contact-footer {
    padding: 0; margin: 0;
    width: 100%;
}

.contact-footer ul {
    list-style-type: none;
    padding: 0; margin: 0;
}

.contact-footer ul a {
    
    text-decoration: none;
    color:var(--groki-color-major);
}

.contact-footer ul a li {
    padding: 0; margin: 0;
    width:100%;

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.contact-footer ul a:hover li {
    background-color: var(--groki-color-cta);
}

.contact-footer ul a li span:nth-child(1) {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; 
    -ms-grid-column-align: start;
    justify-self: start;

    font-size: 2rem;
}

.contact-footer ul a li span:nth-child(2) {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: end;
    justify-self: end;
}

    /* Footer Copyright */
.copyright-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;-ms-flex-pack: center;
    justify-content: center;
}

/* Media Queries */
@media (min-width: 375px) {
    /* Projects */
    .project-thumbnail {
        width: 100%; height: 188px;
    }
}

@media (min-width: 425px) {
    /* Projects */
    .project-thumbnail {
        width: 100%; height: 216px;
    }
}

@media (min-width:768px) {

    /* Header */
    #Header {
        height:100dvh;
    
        position: relative;
        
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    
    .dev-portrait {
        /* background-color: #00C9AC; */
        grid-column: 1;
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: end;
        
        -webkit-box-pack: center; -ms-flex-pack: center;
        justify-content: center;
    }
    
    .dev-summary {
        position: relative;
        /* background: none; */

        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row-align: center;
        align-self: center;
        padding: var(--padding-default);
    
        /* Adjust bottom styling dynamically in Javascript based on the offsetHeight of #Navbar */
    }

    .dev-summary h1, .dev-summary #dev-summary {
        margin: 0;
    }
    
    .dev-contacts {
        margin: var(--margin-default) 0px;
    }

    /* About */
    .dev-stack img {
        width: 64%;
    }

    /* Projects */
    .project-thumbnail {
        width: 100%; height: 408px;
    }
}

@media (min-width: 1024px) {
    /* Navbar */
    :where(.nav-menu) .mobile {
        display: none;
    }
    
    :where(.nav-menu) .desktop {
        display: block;
        grid-row: 1;
    }

    :where(.nav-menu) .desktop ul {
        list-style-type: none;
    }

    :where(.nav-menu) .desktop ul li {
        display: inline-block;
    }

    :where(.nav-menu) .desktop ul li a {
        text-decoration: none;
        color: var(--groki-color-major);

        padding: var(--padding-default);
    }

    :where(.nav-menu) .desktop ul li a:hover {
        background-color: var(--groki-color-cta);
    }

    /* Header */
    .dev-summary {
        background: none;
    
        /* Adjust bottom styling dynamically in Javascript based on the offsetHeight of #Navbar */
    }

    /* About */
    .dev-stack img {
        width: 50%;
    }

    /* Projects */
    .card-content {
        font-size: 1.5rem;
    }
    
    .project-thumbnail {
        width: 100%; height: 554px;
    }

    /* Footer */
    footer {
        padding: var(--padding-wide) var(--padding-default); margin: 0;
    
        display: -ms-grid;
        display: grid;
        -ms-grid-column: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    
        /* Footer Navbar */
    
    .navbar-footer {
    }
    
    .navbar-footer ul {
        font-size: 1.5rem;
        
        list-style-type: none;
        padding: 0; margin: 0;
    }
    
    .navbar-footer ul a {
        text-decoration: none;
        color: var(--groki-color-major);
        width: max-content; 
    
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; justify-items: start;
    }
    
    .navbar-footer ul a:hover li {
        background-color: var(--groki-color-cta); color: var(--groki-color-major);
    }
    
    .navbar-footer ul li {
        padding: var(--padding-default); margin: var(--margin-thin);
    
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; justify-items: start;
    }
}

@media (min-width: 1440px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 3rem;
    }

    /* Projects */
    .card-header span {
        font-size: 8rem;
    }
    
    .card-header .project-info {
        font-size: 2rem;
    }

    .project-thumbnail {
        background-color: #00C9AC;
        width: 100%; height: 718px;
    }
}

@media (min-width: 2560px) {
    /* Projects */
    .project-thumbnail {
        background-color: #00C9AC;
        width: 100%; height: 1416px;
    }
}